*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
img{
    width: 100%;
}
/*--------------------------------------Styling for header */
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1F2937;
    color: #fff;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    height: 10rem;

}
.logo{
    text-align: center;
    flex-basis:50%;
    font-size: 2.8rem;
    align-self: center;
}
ul.nav-lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}
ul.nav-lists li{
    display: inline-block;
    font-size: 2rem;
}
ul.nav-lists li a:hover{
    color: #fff;
}

ul.nav-lists li a{
    text-decoration: none;
    color: #8091a8;
}

/* section hero inside header */
div.section-hero{
    height: calc(100vh - 10rem);
    
}
.hero-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-hero .left{
   display: flex; 
   flex-direction: column;
   gap: 2rem;
   max-width: 40rem;
}

.section-hero .left p{
    font-size: 2rem;
}
.section-hero .hero-image{
    flex-basis: 50%;
    max-width: 50rem;
    padding-left: 3rem;
}

.section-hero div.left{
    display: flex;
    flex-direction: column;
}
.primary-heading{
    font-size: 4rem;
}
a.hero-button{
    text-decoration: none;
    color: #fff;
    background-color: #3882f6;
    display: inline-block;
    padding: 1rem;
    width: 12rem;
    text-align: center;
    border-radius:5px;
    font-size: 1.7rem;
}
/* Information section */
section.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem;
}
.heading-seconday{
    font-size: 3.6rem;
    font-weight: 900;
    color:#1F2937;
}
.image-gallery{
    display: flex;
    gap: 2rem;
}

.infoimage-container{
    max-width: 20rem;
    max-height: 20rem;
}
.infoimage-container img{
    border-radius: 10px;
    border: 2px solid blue;
}
.image-info{
    font-size: 1.5rem;
    text-align: center;
}
.image-card{
    max-width: 20rem;
}
/* Quotes section */
section.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 8rem;
    
}
blockquote{
    font-size: 3.6rem;
    text-align: justify;
    color: #1f2937;
}
.quote-wrapper{
    max-width: 80rem;
    
}
.author{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    font-weight:bolder; 
}
section.calltoaction{
    padding: 6rem 2rem;
}
.calltoaction-wrapper{
    padding: 3rem 2rem;

    display: flex;
    justify-content: space-around;
}
.call-text-white{
    font-size: 2.5rem;
}
.call-text-dark{
    font-size: 2rem;
}
.call-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


